:root{
    --color-blue: #2196F3;
    --color-white: #FFFFFF;
    --color-title: #212121;
    --color-uptitle: #757575;

}



body{
    font-family: 'Roboto', sans-serif;
}


/*-------Header--------*/

.header {
}
.logo{
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}
.logo span{
    color: var(--color-blue);
}
.header-nav {
    list-style: none;
}
.header-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-title);
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-nav-link.current {
    color: var(--color-blue);
}

/*---------------Hero--------------------*/

.hero {
    background-color: #2F303A;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-white);
}
.hero-btn {
    font-family: inherit;
    font-weight: 700; 
    font-size: 16px; 
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: var(--color-blue);
    color: var(--color-white);
}

/*--------------------Benefits--------------------*/

.hide {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}
.benefits {}

.benefits-title {}

.benefits-list {}

.benefits-item {}

.benefits-item-title {
    font-weight:700;
    font-size: 14px; 
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--color-title);
}

.benefits-item-uptitle {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-uptitle);
}

/*-------------------------Work-------------------*/
.work {}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.work-list {}

.work-item {
    list-style: none;
}

/*--------------------------Team------------------*/

.team {
    background-color: #F5F4FA;;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-title);
}

.team-list {}

.team-item {
    list-style: none;
}

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-title);
}

.team-item-uptitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-uptitle);
}

/*----------------------------Contacts------------------*/

.contacts {
    background-color: #2F303A;
}

.logo-contacts{
    color: var(--color-white);
}

.contacts-adress {
    font-style: normal;
}

.contacts-list {
    list-style: none;
}

.contacts-item {}

.contacts-link:hover,
.contacts-link:focus{
    color: var(--color-blue);
}
.contacts-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);;
}

.contacts-link-color {
    color: var(--color-white);
}

/*----------------------------------------------PORTFOLIO-----------------------------*/

.examples {}

.examples-list {
    list-style: none;
}

.examples-btn:hover,
.examples-btn:focus {
    color: var(--color-blue)
}
.examples-btn:active{   
    background-color:var(--color-blue)
}

.examples-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--color-title);
}

.examples-item{
}

.examples-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;  
    letter-spacing: 0.06em;
    color: var(--color-title);
}

.examples-uptitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--color-uptitle) 
}